@import '../../../styles/colors';
@import '../../../styles/thypography';

#containerHLink{
    display: grid;
    grid-template-columns: auto auto auto;
}

#iconLink{
    text-align: center;
}

#iconImg{
    height: 2.5em;
    width: 2.5em;
}

#buttonIcon{
    height: 0.875em;
    background: $color-white-OB;
    border: 0.063em solid $color-white-OB;
    color: $color-black-OB;
    font-family: $font-family-OB;
    font-size: $font-size-text-but-12;
}