@import '../../../styles/colors';
@import '../../../styles/buttons';



#ContainerRMetodos{
    background: #FFFFFF;
    border-radius: 8px;
    margin: 5.5em auto 0;
    padding: 0.75em 1em 0.75em 1em;
    max-width: 27em;
    display: grid;
    grid-gap: 2em;
}

#buttons{
    display: grid;
    /* grid-gap: 1em; */
    grid-template-columns: auto auto;
    background-color: #FFFFFF;
}

#Inputs{
    background: $color-white-OB;
    border: 1px solid $color-grey-light-OB;
    border-radius: $border-radius-OB;    
    box-sizing: border-box;
    //color texto
    color: $color-grey-dark-OB;       
    font: {
        family: $font-family-OB;
        size: $font-size-text-but-16;
        style: normal;
        weight: 500;
        size: $font-size-text-but-16;
        weight: bold;
    }
    height: 3em;    
    text-align: inherit;   
    width: 100%;  
}

#header_mobile{
    display: none;
}

// @media (max-width: 639px) {
@media (max-width: 436px) {
    #header_desktop{
        display: none;
    }
    #header_mobile{
        display: block;
    }
    #ContainerRMetodos{
    grid-template-rows: 15em 1em !important;
    }
}