@import './../../styles/colors';
@import './../../styles/thypography';

#containerTimeOut{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0em;
    top: 0em;
    background: rgba(0, 0, 0, 0.6);
}

#boxMessageTO{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    background: $color-white-OB;
    border-radius: 0.5em;
    padding: 1.5em;
}

.alignRight{
    text-align: right;
}

#imgCloseTO{
    width: 16px;
    height: 16px;
}

#titleTO{
    width: 7.938em;
    height: 1.375em;
    left: 32.938em;
    top: 17em;
    font-family: $font-family-OB;
    font-size: $font-size-text-but-16;
    font-style: normal;
    font-weight: bold;
    line-height: 1.375em;
    color: $color-black-OB;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#textTO{
    width: 22.688em;
    height: 4.375em;
    left: 32.938em;
    top: 19.875em;
    font-family: $font-family-OB;
    font-size: $font-size-text-but-16;
    font-style: normal;
    font-weight: normal;
    line-height: 1.125em;
    color: $color-black-OB;
    margin: 1.5em 0em 3em 0em;
}

.btnAceptarTO{
    display: flex;
    width: 100% !important;    
}

#closeContainerTimeOut{
    display: none;
}

@media (max-width: 436px) {
    #boxMessageTO{
        width: 18.125em;
        height: 16em;
    }

    #textTO {
        width: auto;
    }
}