@import '../../../styles/colors';

.posicion{
    width: 100%;
    position: fixed;
    bottom: 0px;
    // left: 0;
 }
    
.footerDesktop {
    align-items: center;
    // text-align-last: center;
    // text-align: right;
    height: 6em;//96px;
    // display: grid;
    display: flex;
    justify-content: flex-end;
    background: #FFFFFF;
    // grid-template-columns: repeat(5, 1fr);
}

.CBancoHipotecario {
    width: 12em;//165px;
    //height: 16px;
    // margin-left: 24px;
    // top: 968px;
    // margin-right: auto;
    font: {
        family: Roboto;
        style: normal;
        size: 14px;//0.875em;//14px;
        weight: normal;
        line-height: 16px;//1em;//16px;
    }
    
    color: $color-footer-grey-OB;
    
    margin-left: 24px;
    margin-right: auto;
 }


//  @media (max-width: 630px) {
  @media (max-width: 436px) {

    .footerDesktop {
        grid-template-columns: none;
        grid-template-rows: repeat(5, 1fr);
        align-items: inherit;
        text-align-last: inherit;
        height: inherit;
        // background: inherit;
        background: #FFFFFF;
        border-radius: 8px;
        margin: 0 1em 1em 1em;
        padding: 0.75em 1em 0.75em 1em;
        max-width: 27em;
        display: grid;
        grid-gap: 2em;
        place-items: center;
        text-align: -webkit-center;
    }

    .posicion {
        width: inherit;
        position: inherit;
        bottom: inherit;
    }    

    .CBancoHipotecario {
        margin-left: 0;
    }
    
}
 