@import '../../../styles/thypography';
@import '../../../styles/colors';

#iconProfile{
    width: 24px;
    height: 24px;
    margin-left: 6px;
}

#iconDropDown{
    height: 10px;
    width: 10px;
    left: 12.75px;
    top: 5.75px;
    border-radius: 0px;
}

#userName{
    position: static;
    width: auto;
    height: 14px;
    left: 32px;
    top: 5px;
    font-family: $font-family-OB;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-text-but-14;
    line-height: 14px;
    text-align: right;
    color: $color-white-OB;
    flex: none;
    flex-grow: 0;
    margin: 0px 8px;
}

.menu-trigger {
    display: grid;
    grid-template-columns: auto auto auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px 5px 0px;
    position: absolute;
    width: auto;
    height: 32px;
    right: 34px;
    top: 25px;
    background: rgba(0, 0, 0, 0.11);
    border-radius: 20px;
  }
