@import '../../../styles/thypography';

/* #containerHMovimientos{
  
} */

#containerHMovimientos{
    padding: 1em 0em 1.125em 0em;
    border-bottom: 0.063em solid $color-white-smoke-OB;
}

#titleHMovimientos{
    border-bottom: 0.063em solid $color-white-smoke-OB;
}

#dataHMovimiento{    
    display: grid;
    grid-template-columns: auto auto;
    font-family: $font-family-OB;
    font-size: $font-size-text-but-14;
    color: $color-black-OB;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    padding-bottom: 0.5em;
}

#dataMontoMovimiento{
    text-align: right;
}

#dataCuentaMovimiento{
    font-family: $font-family-OB;
    font-size: $font-size-text-but-12;
    color: $color-silver-OB;
    font-style: normal;
    font-weight: normal;
    line-height: 0.875em;
}

.positiveMovimiento{
    color: $color-green-success-OB;
}

#btnMovimiento{
    background: $color-white-OB;
    border: none;
    color: $color-green-OB;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1em;
}

#flechaHMovimiento{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

