@import '../../../../styles/colors';
@import '../../../../styles/thypography';

#headerDesbloquearTCO{
    margin-left: -32px;
    width: 448px;
    height: 56px;
    right: 0;
    top: 0px;
    background: $color-white-OB;
    margin-bottom: 22px;
    padding-left: 10px;
}

#backDesbloquearTCO{
    padding-left:24px;
    padding-right: 17px;
    padding-top: 14px;  
    width: 24px;
    height: 24px;
    float: left;
}

#titleDesbloquearTCO{
    font-family: $font-family-OB;
    font-size: $font-size-text-but-16;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
}

#mainDesbloquearTCO{
    background: linear-gradient(to left, white 0%, white 10%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 0%);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#mainFDesbloquearTCO{
    display: none;
}

#containerDesbloquearTCO{
    position: fixed;
    width: 25em;
    height: 59.9em;
    right: 0%;
    top: 0em;
    background: $color-white-smoke-OB;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.1fr 0.16fr 0.3fr 0.5fr;
    padding: 0em 2em 0em 2em;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#cardInfoDesbloquear{
    height: 3.125em;
    width: 24em;
    left: 0em;
    border-radius: 0.25em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    right: 0%;
    top: calc(50% - 78px/2);
    background: $color-white-OB;
    box-shadow: 0px 0.25em 0.938em rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding: 1em 1em 1em 0.813em;
    flex: none;
    flex-grow: 1;
    margin: 0em 0em;
    position: static;
    border-left: 0.188em solid $color-medium-purple-OB;
    align-self: stretch;
}

#cardInfoTitleD{
    color: $color-medium-purple-OB;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0.125em 0em;
    font-weight: 500;
}

#cardInfoTextD{
    flex: none;
    flex-grow: 0;
    margin: 0.25em 0em;
}

#cardInfoCloseD{
    width: 0.563em;
    height: 0.563em;
}

#cardInfoContainerD{
    display: grid;
    grid-template-columns: 1.438em 21.25em 1.438em;
}


#subtitleDesbloquearTCO{
    height: 2.5em;
    width: 15em;
    left: 64em;
    top: 11.875em;
    margin-bottom: 1.5em;
}

#inputDesbloquearTCO{
    height: 4em;
    width: 28.9em;
    left: 0em;
    top: 1.875em;
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    flex: none;
    flex-grow: 0;
    margin: 0.5em 0em 1.5em 0em;
}

#textDesbloquearTCO{
    height: 7.063em;
    width: 23.75em;
    left: 64.25em;
    top: 31.375em;
    font-family: $font-family-OB;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-text-but-14;
    line-height: 1em;
    color: #333333;
}

.btnDesbloquearTCO{
    width: 100% !important;
    margin-bottom: 24px;
}

.textDesloquearTCOMob{
    display: block;
}

@media (max-width: 436px) {
    #containerDesbloquearTCO{
        left: 0;
        right: 0;
        padding: 0em 1em 0em 0.5em;
        grid-template-rows: 0.05fr 0.12fr 0.55fr;
    }

    #cardInfoContainerD {
        grid-template-columns: 1.438em 19.25em 1.438em;
    }

    #cardInfoDesbloquear{
        width: 348px;
        margin: 0px 12px 0px 5px;
    }

    .textDesbloquearTCOMob{
        display: none;
    }
}