

position: static;
width: 20px;
height: 20px;
left: 0px;
top: calc(50% - 20px/2);

border: 1px solid #9B9B9B;
box-sizing: border-box;
border-radius: 4px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px; 