@import './../../../styles/colors';

#containerMenu{
    padding: 1.313em 0em 1em 1.188em; 
    display: grid;
    /* grid-template-columns: 18.75em auto auto; */
    grid-template-columns: 18.75em 2.5em 2.6em;
}

#iconMenu{
    height: 1.5em;
    width: 1.5em;
}

