@import '../../../styles/colors';
@import '../../../styles/buttons';
@use '../../../styles/thypography';

#containerforRusuario {
    background: $color-white-OB;
    border-radius: 8px;
    margin: 5.5em auto 0;
    padding: 0.75em 1em 0.75em 1em;
    max-width: 27em;
    display: grid;
} 


.h1QueEmpresa {
    //position: absolute;
    width: 396px;
    height: 28px;
    margin-left: 250px;
    top: 247px;
}

.grid-container {
    display: grid;
  }

.labletam {
    width: 3356px;
    height: 556px;   
}

.botonEmpresa {
        background: $color-white-OB;
        border: 1px solid $color-grey-light-OB;
        border-radius: $border-radius-OB;    
        box-sizing: border-box;
        //color texto
        color: $color-grey-dark-OB;       
        font: {
            family: $font-family-OB;
            size: $font-size-text-but-16;
            style: normal;
            width: 336px;
            height: 48px;
            left: 552px;
            top: 722px;			 
            weight: 500;
            size: $font-size-text-but-16;
        }
                             
        width: 250px;
        height: 81px;
        padding-left: 0px;
        padding-top: 0px;
}

.botonEmpresa:active {
    border: 1px solid $color-green-OB;
    box-sizing: border-box;
    border-radius: 8px;
}

.botonEmpresa:focus{
    border: 1px solid $color-green-OB;
    box-sizing: border-box;
    border-radius: 8px;
}
.botonEmpresa:disabled {
    background: $color-grey-light-OB;
}
// .item1 {
//     grid-column-start: 1;
//     grid-column-end: 4;
// }
.gridBotones {
    display: grid;

   
}

.botonCerrarSesion {
    // display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // padding: 12px 16px;

    width: 160px;
    height: 48px;
    left: 552px;
    bottom: 492px;

    border: 1px solid $color-green-OB;
    box-sizing: border-box;
    border: {
        radius: $border-radius-OB;
    }

    color: $color-green-OB;       
    font: {
        family: $font-family-OB;
        size: $font-size-text-but-16;
        style: normal;
		width: 336px;
        height: 48px;
        left: 552px;
        top: 722px;			 
        weight: 500;
        size: $font-size-text-but-16;
    }
    background-color: $color-white-OB;

}

.botonCerrarSesion:hover {
    border: 1px solid $color-blue-light-OB;
    color: $color-blue-light-OB;
}

.botonSiguiente {
        background: $color-green-OB;
        border: none;
        border-radius: $border-radius-OB;
    
        font-family: $font-family-OB;
        color: $color-white-OB;
        font: {
            style: medium;
            width: 96px;
            height: 19px;
            left: 120px;
            top: 14.5px;
            weight: 500;
            size: $font-size-text-but-16;
        }
        // line-height: 19px;

        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // align-items: center;
        // padding: 12px 16px;

        // position: absolute;
        width: 160px;
        height: 48px;
        left: 728px;
        bottom: 492px;

}

// .botonSiguiente:hover {
//     background: $color-blue-light-OB;
// }

.containerformBTNRecUsuario {
    display: grid;
    grid-template-columns: auto auto ;
    // grid-gap: 10px;
    display: grid;
    //grid-auto-rows: minmax(100px, auto);
    background-color: $color-white-OB;
}

.CuitCuilEmpresa {
    margin-bottom: 16px;
    // display: flex;
    padding: 16px;

    width: 380px;
    height: 56px;
    left: 552px;
    top: 380px;
}

#errorCuitCuilEmpresa{
    @extend .CuitCuilEmpresa;
    border: 2px solid $color-red-OB;
}

#header_mobile{
    display: none;
}

