@import '../../../styles/thypography';

#headerHImpuesto {
    display: grid;
    grid-template-columns: auto auto;
}

#containerHImpuesto{
    padding: 0.625em 0em 0.875em 0em;
    border-bottom: 0.063em solid $color-white-smoke-OB;
}

#dataHImpuestos{    
    display: grid;
    grid-template-columns: auto auto;
    font-family: $font-family-OB;
    font-size: $font-size-text-but-14;
    color: $color-black-OB;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    padding-bottom: 0.5em;
}

#dataMontoImpuesto{
    text-align: right;
}

#dataFechaImpuesto{
    font-family: $font-family-OB;
    font-size: $font-size-text-but-12;
    color: $color-silver-OB;
    font-style: normal;
    font-weight: normal;
    line-height: 0.875em;
}

#flechHaImpuesto{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}