@import '../../../../styles/colors';
@import '../../../../styles/thypography';

#mainMensajeOkFA{
    background: linear-gradient(to left, white 0%, white 10%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 0%);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#containerMensajeOkFA{
    position: fixed;
    width: 25em;
    height: 59.9em;
    right: 0%;
    top: 0em;
    background: $color-white-smoke-OB;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.6fr 1fr;
    padding: 7em 2em 0em 2em;
    text-align: center;
}

#iconMensajeOkFA{
    height: 6.813em;
    width: 9.75em;
    left: 71.125em;
    top: 19.125em;
    border-radius: 0em;
    margin-bottom: 2.5em;
}

#mensajeOkFA{
    font-family: $font-family-OB;
    font-size: $font-size-text-but-16;
    font-style: normal;
    font-weight: 500;
    line-height: 1.188em;
    letter-spacing: 0em;
    text-align: center;
}

.btnMensajeOkFA{
    width: 100% !important;
}

@media (max-width: 436px) {
    #containerMensajeOkFA{
        width: 100%;
        left: 0;
        right: 0;
        padding: 12em 1em 0em 1em;
        grid-template-rows: 4fr 5fr;
    }
}