@import './../../../styles/colors';
@import './../../../styles/buttons';

#containerFormChangePassBlock {
    display: grid;
    place-content: center;
    background: $color-white-OB;
    border-radius: 8px;
    margin: 2.5em auto 0;
    padding: 0.75em 1em 0.75em 1em;
    max-width: 27em;
    max-height: 23em;
} 

#containerformBTNVctoPassBlock {
    display: grid;
    grid-template-columns: auto auto ;
    background-color: $color-white-OB;
}

#containerTextPassBlock {
    width: 350px;
    margin-top: 4px;
}

#inputBlancoVctoPassBlock{
    margin-bottom: 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 50px 16px 16px;
    width: 336px;
    height: 56px;
    left: 552px;
    top: 356px;
}

#inputPositionPassBlock{
    position: relative;
}

#inputImg{
    height: 24px;
    width: 24px;
    position: absolute;
    top: 16px;
    right: 30px;
}

#error{
    @extend #inputBlancoVctoPassBlock;
    border: 2px solid $color-red-OB;
}
