@import '../../../../styles/colors';
@import '../../../../styles/thypography';

#mainEditTCO{
    background: linear-gradient(to left, white 0%, white 10%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 0%);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#headerEditTCO{
    margin-left: -32px;
    width: 448px;
    height: 56px;
    right: 0;
    top: 0px;
    background: #FFFFFF;
    margin-bottom: 22px;
    padding-left: 10px;
}

#backEditTCO{
    padding-left:24px;
    padding-right: 17px;
    padding-top: 14px;  
    width: 24px;
    height: 24px;
    float: left;
}

#titleEditTCO{
    font-family: $font-family-OB;
    font-size: $font-size-text-but-16;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
}
#containerTCO{
    position: fixed;
    width: 22.29em;
    height: 66.063em;
    right: 0%;
    top: 0em;
    background: #F4F4F4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.15fr 0.17fr 1.7fr;
    padding: 0px 2em 0px 2em;
}

#btnFA{
    width: 24em;
    height: 3.375em;
    background: $color-white-OB;
    border: 0.063em solid $color-grey-light-OB;
    border-radius: 0.5em;
    box-sizing: border-box;
    color: $color-black-OB;
    font-weight: normal;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    line-height: 1.375em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    left: 64em;
    top: 10em;
    text-align: left;
    margin-bottom: 0.5em;
}

@media (max-width: 436px) {
    #containerTCO{
        width: inherit;
        max-width: 100%;
        left: 0;
        right: 0;
        padding: 0px 2em 0px 0.5em;
    }
}