@import '../../../styles/colors';

#menu-botones {
    display: grid;
    justify-items: start;
  
    grid-gap: 0.5em;//8px;
  
    padding-top: 1.6875em;//27px;
  }

#menu-contenedor {
    grid-area: menu;
    /* height: 90vh; */
    height: auto;
    width: 14em;
    background: white;
}

#menu-botones #invisible {
    color:$color-black-OB;
    margin-left: 1.5em;
}


#iconClose{
    height: 1.5em;
    width: 1.5em;
}

#btnCloseMenu{
    display: none
}

#perfilSideBar{
    grid-template-columns: repeat(2,1fr);
    display: grid;
    place-items: center;
}

// @media (max-width: 639px) {
@media (max-width: 436px) {
    #menu-botones{
        display: none;
    }
    
    #menu-botonesMob {
        display: grid;
        justify-items: start;
        grid-gap: 0.5em;
        padding-top: 1.313em;
        width: 25em;
        position: fixed;
        left: 0%;
        right: 0.156em;
        top: 0%;
        background: linear-gradient(to right, white 0%, white 85%, rgba(0, 0, 0, 0.2) 85%, rgba(0, 0, 0, 0.2) 100%);
        height: fit-content;
        grid-template-rows: repeat(100, 2.375em);
    }

    #menu-botonesMob #invisible {
        color:$color-black-OB;
        padding-left: 1.188em;
    }
    
    #btnCloseMenu{
        display: block;
        padding-left: 1.188em;
        height: 1.5em;
        width: 1.5em;
    }
  }