 @import './../../styles/colors';
 @import './../../styles/thypography';
 @import './../../styles/buttons';

// #home {
//     display: grid;
//     grid-template-columns: repeat(5, 1fr);
//     grid-template-rows: 92px repeat(3, 1fr);

//     grid-template-areas:
//     "cabecera cabecera cabecera cabecera cabecera"
//     "OBmenu contenido contenido contenido contenido"
//     "OBmenu . . . ."
//     "OBmenu . . . ."
// ;

//     width: 100%;
//     height: 100hv;
//     margin: 0px auto;
// }

// #contenido {
//     display: grid;
// }

// #menu {
//     // grid-row: 2 / 6;
//     height: 90vh;
//     grid-area: OBmenu;

//     padding-top: 27px;
//     background: white;
//     max-width: 224px;

// }

// #menu #invisible {
//     display: grid;
//     color:$color-black-OB;
// }

// #header {
//     grid-area: cabecera;
//     // grid-column: 1 / 6;
// }

// @media (max-width: 639px) {
//     #home {
//     grid-template-areas:
//     "cabecera cabecera cabecera cabecera cabecera"
//     ". . . . OBmenu"
//     ". . . . OBmenu"
//     ". . . . OBmenu";
//     }

// }
//////////////////////////////////////////////////////////////////////////////////////////
#contenedor {
  display: grid;
  /* grid-template-columns: 0.4fr 1.6fr 1.7fr 0.3fr; */
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 0.1fr 1.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header profile"
    "menu contenedor-margen contenedor-margen contenedor-margen";
}

#profile {
  grid-area: profile;
  background: $color-green-OB;
  align-items: center;
//   height: 92px;
}

#header {
  grid-area: header;
//   height: 92px;
}

#contenedor-margen {
  display: grid;
//   grid-template-columns: 0.3fr 3.5fr 0.3fr;
//   grid-template-rows: 0.4fr 3.1fr 0.3fr;
/* grid-template-columns: 113px 1fr 111px; */ 
grid-template-columns: 115px 0fr 1fr 30px;
// grid-template-rows: 58px 3.1fr 0.3fr; 
grid-template-rows: 22px 28px 3.1fr 0.3fr; 
  /* gap: 10px 0px; */
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ." 
    ". . ."
    ". cards cardRight"
    ". . .";
  grid-area: contenedor-margen;
}


#cards {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-rows: repeat(1, 1fr);
  /* gap: 23px 23px; */
  gap: 16px 23px;
  grid-auto-flow: row;
 /*  grid-template-areas:
    ". . ."
    ". . ."
    ". . ."; */
    grid-template-areas:
    "."
    "."
    ".";
  grid-area: cards;
}

#cardRight {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-rows: repeat(1, 1fr);
  /* gap: 23px 23px; */
  gap: 16px 23px;
  grid-auto-flow: row;
 /*  grid-template-areas:
    ". . ."
    ". . ."
    ". . ."; */
    grid-template-areas:
    "."
    "."
    ".";
  grid-area: cardRight;
}


/* #menu-botones {
  display: grid;
  justify-items: start;

  grid-gap: 0.5em;//8px;

  padding-top: 1.6875em;//27px;
}

#menu-contenedor {
    grid-area: menu;
    
    height: auto;
    width: 14em;
    background: white;
    
}

#menu-botones #invisible {
    // display: grid;
    color:$color-black-OB;
    margin-left: 1.5em;
}
 */
#card-Movimientos {
    background: white;
    border-radius: $border-radius-OB;
    padding-left: 1em;
    padding-right: 1.313em;
}

.cardCuentas{
  height: 14.125em;
  width: 20.5em;
}

.cardMovimientos{
  height: 37.2em;
  width: auto;
  /* width: 34.75em; */
}

.cardLink{
  padding-top: 1.5em;
  height: 5em;
  width: 20.5em;
}

.cardInversion{
  height: 10.625em;
  width: 20.5em;
}

#contenedor-bienvenida {
    grid-area: 2/2;
 
    font-family: $font-family-OB;

       
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

}

.card-Movimientos-Mob
  {
    display: none
  }

  .cardLinkMob{
    display: none;
  }

  #headerHomeMob{
    display: none;
  }
  
// @media (max-width: 639px) {
@media (max-width: 436px) {
  #contenedor{
    display: inline;
    grid-template-areas:
    "header"
    "contenedor-margen";
  }

  #contenedor-margen {
    display: grid;
    grid-template-columns: 0px;
    grid-template-rows: 0px;
    grid-gap: 10px 10px;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "."
        "."
        "cards"
        "."
        ".";
    grid-area: contenedor-margen;
  }

  #cardRight {
    display: none;
  }

  .title{
    display: none;
  }

  .card-Movimientos-Mob
  {
    display: block
  }

  .cardCuentas {
    height: 22.5em;
    width: 22.75em;
    border-radius: 0px !important;
  }

  .cardLink{
    display:none;
    width: 22.75em;
    border-radius: 0px !important;
  }

  .cardLinkMob{
    display: block;
    margin-top: 0.75em;
  }
  
  .cardMovimientos {
    height: 16.5em;
    width: 20.5em;
    margin: 0em 1em 0em 1em;
  }

  .cardInversion {
    margin: 0em 1em 0em 1em;
  }

  #movimientoMob{
    display: none;
  }

  #headerHomeMob{
    display: flex;
    background: $color-white-OB;
    height: 3.5em; 
    width: fit-content;
  }

  #header {
    display: none
  }

  #profile{
    display: none
  }
}