@import './../../styles/colors';
@import './../../styles/buttons';

.containerformMC {
    // display: grid;
    width: fit-content;
    height: fit-content;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 5.5em auto 0;
    padding: 0.75em 1em 0.75em 1em;
    display: grid;
    grid-template-rows: repeat(2,1fr);
} 
.containerList{
    background: #FFFFFF;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    margin: 0em auto 0;
}

.element{
    height: 400px;
}

.h1QueEmpresa {
    //position: absolute;
    width: 396px;
    height: 28px;
    margin-left: 250px;
    top: 247px;
}

.grid-container {
    display: grid;
  }

.labletam {
    width: 3356px;
    height: 556px;   
}

.searInput{
  
}

.botonEmpresa {
        background: $color-white-OB;
        border: 1px solid $color-grey-light-OB;
        border-radius: $border-radius-OB;    
        box-sizing: border-box;
        //color texto
        color: $color-grey-dark-OB;       
        font: {
            family: $font-family-OB;
            size: $font-size-text-but-16;
            style: normal;
            width: 336px;
            height: 48px;
            left: 552px;
            top: 722px;			 
            weight: 500;
            size: $font-size-text-but-16;
        }
      
        width: 24em !important;
        height: 3.5em !important;
        align-items: center;
    justify-items: center;
        padding-left: 0px;
        padding-top: 0px;
        display: grid;
    grid-template-columns: repeat(3,1fr);
}

.botonEmpresa:active {
    border: 1px solid $color-green-OB;
    box-sizing: border-box;
    border-radius: 8px;
}

.botonEmpresa:focus{
    border: 1px solid $color-green-OB;
    box-sizing: border-box;
    border-radius: 8px;
}
.botonEmpresa:disabled {
    background: $color-grey-light-OB;
}
.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}
.gridBotones {
    display: grid;
    grid-template-columns: auto auto ;
   
}

.containerformBTN {
    grid-template-columns: 13em 1em;
    display: grid;
    margin: 2.5em auto 0;
    background-color: $color-white-OB;
}

.ButonInterno{
    display: grid;
    grid-template-columns: 16em 16em 16em;
}


// @media (max-width: 639px) {
@media (max-width: 436px) {

    .containerformMC{
        margin: 0 auto;
        width: inherit;
    }

    .containerList {
        width:inherit;
        text-align: -webkit-center;
        height: 100vh;
        margin: -3em auto;
    }
    .element{
        height: inherit !important;
    }

    .searInput{
        margin-top: -8em;
        width: 20em;
        margin-left: 3em;
    }

}


