@import '../../../../styles/colors';
@import '../../../../styles/thypography';

#containerConfirmTco{
    position: absolute;
    width: 100%;
    height: 46.625em;
    left: 0em;
    top: 0em;
    background: rgba(0, 0, 0, 0.6);
}

#boxConfirmTco {
    display: grid;
    grid-template-rows: 0.2fr 0.8fr 0.2fr;
    height: 13.5em;
    left: 1.25em;
    top: 15.25em;
    border-radius: 0.5em;
    position: absolute;
    background: $color-white-OB;
    padding: 1em 1em 2em 1em;
    text-align: right;
}

#confirmClose{
    width: 0.563em;
    height: 0.563em;
}

#confirmTco{
    height: 7.063em;
    width: 21.75em;
    left: 64.25em;
    top: 31.375em;
    font-family: $font-family-OB;
    font-style: normal;
    font-weight: 400;
    font-size: $font-size-text-but-14;
    line-height: 1em;
    color: #333333;
    text-align: left;
    padding-left: 1.25em;
}