@import '../../../styles/colors';

#containerHCuenta{
    height: 3.625em;
    border-bottom: 0.063em solid $color-white-smoke-OB;
    padding: 0em 0em 0.875em 0em;
}

#footerHCuenta{
    height: 1.563em;
    border-bottom: 0.063em solid $color-white-smoke-OB;
    padding: 0em 0em 0.875em 0em;    
}

#headerHCuenta{
    width: 6.313em;
    height: 0.875em;
    text-align: left;
    vertical-align: text-top;
}

#dataHCuenta{
    display: grid;
    grid-template-columns: auto 0.625em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0em;
    position: static;
    height: 1.75em;
    left: 0em;
    top: 1.875em;
}

#flechaHCuenta{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnCuentas{
    background: $color-white-OB;
    border: none;
    color: $color-green-OB;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1em;
}
