@import './../../styles/buttons';
@import './../../styles/colors';
@import './../../styles/thypography';

#container{
    background-image: url("../../assets/imagenes/fondo.png");
    // min-height: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    // min-width: 100vh;
    min-width: 100%;
    background-color: white;
     
}

#help-block{
    margin-top: 12px;
}

// }
// .containerform {
//     width: 30%;
//     max-height: 30%;//37.875em;
//     background: $color-white-OB;
//     border-radius: 0.5em;
//     margin: 10% auto;
//     // padding: 0.75em 1em 0.75em 1em;
//     // grid-template-columns: repeat(6, 1fr);
//     grid-template-rows: repeat(6, 1fr);
//     // padding-right: 2.875em;//46px;
// } 
#containerform {
    background: #FFFFFF;
    border-radius: 0.5em;
    margin: 7% auto;
    margin-top: 80px;
    // padding: 0.75em 1em 0.75em 1em;
    max-width: 27em;
    min-width: min-content;
    // width: 30%;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 2em;
}
#FormContainer{
    display: grid;
    // place-content: center;
    // grid-template-rows: repeat(6, 1fr);
    // grid-template-rows: 2fr repeat(4, 1fr);
    // align-items: center;
    margin-left: 3em;//48px;
    margin-right: 3em;//48px;
    grid-gap: 1em;
}

h1#titulo {
    // line-height: 1.35em;//32px;
    width: 6.75em;//11.25em;// 180px;
    // height: 5.25em;
    ;//1.625em;//26px;
    margin-top: 1.625em;//26px;
    //   grid-row: 1 / 3 ;
} 


#inputBlanco {
    // margin-bottom: 16px;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
    // margin-left: 3em;//48px;
    // margin-right: 3em;//48px;
    width: -webkit-fill-available;
    padding: 16px;
    // position: absolute;
    // width: 21em;//21em;
    font-size: 16px;
    height: 56px;//3.5em;//56px;
    // left: 34.5em;//552px;
    // top: 22.25em;//356px;
}

#errorBorder{
    @extend #inputBlanco;
    border: 2px solid $color-red-OB;
}

// .inputBlanco:focus {
//     border: 1px solid $color-grey-OB;
// }

#TextRusuario {
    color: $color-grey-OB;
}
#container_check_destokp{
    // margin-top: 10px;
    display: grid;
   grid-template-columns: 30px 200px;
}

label {
    font-family: $font-family-OB;
}

#botonVerde {
    background: $color-green-OB;
    align-items: center;
  
    width: auto;//21em;//336px;
    height: 3em;//56px;
  
    border: none;
    border-radius: $border-radius-OB;

    font-family: $font-family-OB;
    color: $color-white-OB;
    font: {
        style: medium;
        width: 96px;
        height: 19px;
        left: 120px;
        top: 14.5px;
        weight: 500;
        size: $font-size-text-but-16;
    }
    transition: 800ms;
}



// @media (max-width: 639px) {
@media (max-width: 436px) {
    .posicion_header 
    { 
        display: inherit; 
        flex-basis: 100%;
        width: auto;
    } 
    
    .footerDesktop { 
        display: inherit; 
        flex-flow: column wrap;
        flex-basis: 100%;
        flex-grow: 1;

        // margin-left: 18px;
        margin-right: 18px;
        margin-bottom: 23px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }

    #container{
        background-image: none;
        // min-width: inherit;
        background-color: inherit;
        display: grid;
        min-height: auto;
    }

    #containerform
    {
        background: #FFFFFF;
        // width: inherit;
        // margin: 0 auto;
        margin: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

        // max-width: 27em;
        // min-width: min-content;
        width: auto;
        margin-bottom: 5%;
        
    }

    #logo 
    {
        height: 32px;
        padding-left: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    header {
        
    height: 55px;

    }
}