  body {
    margin: 0;
    background-color: #E5E5E5;
    min-height: 100vh;
    min-width: 100vh;
    min-height: 100vh;
    min-width: 100vh;
  }
  
  // @media (max-width: 639px) {
  @media (max-width: 436px) {
    body {
      min-width: inherit;
    }
}